<p id="notice"><%= notice %></p>

<h1>Listing Patients</h1>

<div id="myGrid" style="height: 500px;">
</div>

<br>

<%= link_to 'New Patient', new_patient_path %>

<%= javascript_include_tag "SlickGrid/lib/jquery.event.drag-2.2.js" %>
<%= javascript_include_tag "SlickGrid/slick.core" %>
<%= javascript_include_tag "SlickGrid/slick.grid" %>
<%= stylesheet_link_tag "SlickGrid/slick.grid" %>

<script>
function getData(route, callback) {
  $.getJSON(route, callback);
}

function initialload(data) {
  data.forEach(function(record, index){
    // -1 because we start at 1 but arrays start at 0
    table[record["id"]-1] = record;
  });
  grid = new Slick.Grid("#myGrid", table, columns, options);
}

var table = [];

$(document).ready(function() {
  getData("/patients.json", initialload);
});

var grid;
var columns = [
  {id: "id", name: "ID", field: "id"},
  {id: "name_first", name: "First", field: "name_first"},
  {id: "name_last", name: "Last", field: "name_last"},
  {id: "hiv", name: "HIV", field: "hiv_positive"},
  {id: "biopsy_pending", name: "Biopsy", field: "biopsy_pending"},
  {id: "other_pending", name: "Other", field: "other_pending"},
  {id: "cancer", name: "Cancer", field: "cancer"},
  {id: "date_seen", name: "Date Seen", field: "date_seen"},
  {id: "date_return", name: "Date Return", field: "date_return"}
];

// columns.forEach(function(thing){
//   thing["resizable"] = false;
// });

var options = {
  enableCellNavigation: true,
  enableColumnReorder: false,
  enableTextSelectionOnCells: true,
  forceFitColumns: true,
  fullWidthRows: true
};
</script>